body {
  margin: 0 auto;
  width: 1200px;
  padding-right: 50px;
  padding-left: 10px;
  top:-10px;
  background-color:#D4EBF9;
}
.logo
{
  padding-left: 20px;
  margin-top: -100px;
  display: block;
  float: left;
  width: 150px;
}
#img
{
  margin: auto;
  padding: 5px;
  width: auto;
  height: auto;
  float: left;

}
table{
  margin-left: 138px;
  margin-top: -20px;
}
.pre
{

  text-align: center;
  float: left;
  width: 1000px;
  padding: 20px;
  font-family: "Open Sans";
  font-size: 20px;
}
#n
{
  width:auto;
  height:150px;
  top:5px;
  margin-top: 10px;
  background: url("https://sp.mycdn.me/getTheme?photoId=816449828730&type=62");
}

q
{
  width: 200px;
  height: 100px;
  background:#FF0005;
  padding: 3px;
  border-radius:10px;
  padding-right:500px;
  padding-left: 3px;
  top:5px;
  margin-top:-30px;
  border: double 4px #CCD1CD;
  float: left;
  color: black;
  text-decoration: none;
}
#main
{
  text-align: center;
  margin: auto;
  padding-left: 20px;
  margin-top: -35px;
  padding: 25px;
  font-family: "Open Sans";
  font-size: 20px;

}
#r
{
  width: 1000px;
  padding: 10px;
  top:5px;
  margin-top:1px;
  text-align: center;
  color: black;
  margin-right: -10px;
}
#block
{
  width:300px;
  height: 50px;
  background:none;
  float: right;
  padding: 10px;
  margin-right: 25px;
  font-family: "Open Sans";
}
.single-item
{
  padding-top: 130px;
  margin: auto;
  position: relative;
}
.calculate
{
  border-radius: 8px;
  border:double white 2px;
  background-color: violet;
  font-size: 15px;
  font-family: "Open Sans";
  width:240px;
  padding:5px;
}
#form {
  padding: 8px;
  float: left;
  position: fixed;
  width: 450px;
  margin-left: 400px;
  background-color: violet;
  font-size: 20px;
  font-family: "Open Sans";
  border-radius: 8px;
  z-index: 1000;
}
.footer
{
  margin-top: 20px;
  background-color: #F0CDF1;
  width: auto;
  margin: auto;
  height: 150px;
}
.t
{
  margin: auto;
  padding: 10px;
  position: relative;
  width: auto;
  margin-left: 50px;
  font-size: 25px;
  text-decoration: none;
}
.bear
{
  position: fixed;
  float: right;
  margin-bottom: 40px;
  width: 200px;
}
.table-images
{
  width: 400px;
  height: 600px;
}
.catalog
{
  margin-right:10px;
  margin-left: 10px;
  border-radius: 5px;
  margin: auto;
}
#feedback
{
    position: fixed;
    bottom:10px;
    right: 0;
    width: 250px;
    height: 35px;
    border:1px solid blue;
    background-color: #79aec8;
    border-radius: 2px 0 0;

}
#feedback form{
    display: none;
}
#feedback .title{
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 15px;
}
#feedback.open {
    height: auto;
}
#feedback.open form{
    display: block;
    margin-right: 10px;
}