{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="{% static 'images/reg.jpg' %}">
    <h1 style="margin-left: 100px;margin-top: 50px;">Регистрация</h1>
    <form style="margin-left: 100px" method="post">
        {% csrf_token %}
        Имя пользователя:<br>
        <input type="text" name="username"><br>
        Email: <br>
        <input type="email" name="email"><br>
        Пароль:<br>
        <input type="password" name="password"><br>
        Пароль еще раз:<br>
        <input type="password" name="password2"><br>

        <input type="submit" value="Регистрация">
    </form>
</body>
</html>