{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Home</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript">
        imageDir = "http://mvcreative.ru/example/6/2/snow/";
        sflakesMax = 65;
        sflakesMaxActive = 65;
        svMaxX = 2;
        svMaxY = 6;
        ssnowStick = 1;
        ssnowCollect = 0;
        sfollowMouse = 1;
        sflakeBottom = 0;
        susePNG = 1;
        sflakeTypes = 5;
        sflakeWidth = 15;
        sflakeHeight = 15;
    </script>
    <script type="text/javascript" src="http://mvcreative.ru/example/6/2/snow.js"></script>
</head>
    <div id="n"></div>

<table id="main_table" border="0"; cellspacing="30" >
     <tr >
       <th><h3><a class="t" href="home.html" class="help"><em>Главная</em></a></h3></th>
       <th><h3><a class="t" href="contacts.html" class="help"><em>О нас</em></a></h3></th>
       <th><h3><a class="t" href="products.html" class="help"><em>Товары</em></a></h3></th>
       <th><h3><a class="t" href="my_page.html" class="help"><em>Моя страница</em></a></h3></th>
     </tr>
</table>


 <button id="formButton" onclick="showForm()">Написать нам</button>

        <div id="form" style="display: none;">
          <p>Ваше имя: <input type="text" id="s1" placeholder="Введите имя" ></p>
          <p>Почта: <input type="text" id="s2" placeholder="Введите почту"></p>
          <p>Сообщение: <textarea type="text" id="s3"></textarea></p>
          <button id="button" onclick="send()">Отправить</button>
        </div>

<a style="font-size: 20px;float: right" href="{% url 'login' %}">Войти</a><br>
<a  style="font-size: 20px;float: right" href="{% url 'register' %}">Регистрация</a>
<body>



{% block body %}
{% endblock %}

</body>
<div id="feedback">
    <div class="title">
        Написать нам
    </div>
    <form>
        <input type="text" id="fb-name" placeholder="name">
        <input type="email" id="fb-email" placeholder="email">
        <textarea id="fb-message" placeholder="your message"></textarea>
        <input id="submit-feedback" type="submit" value="Отправить">
    </form>
</div>
<footer class="footer">

    <div id="r">
        <h4 style="text-align:center"><em>Жусупов С.А. тел:0779136944 Молдоева У.З. тел:0702929830</em></h4>
        <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>
</footer>
</body>
</html>