{% extends 'base.html'%}
{% load staticfiles %}

{% block body %}

  <div class="pre">
    Женщина-самое нежное в этом мире,не так ли? Все для милых дам. Открытие нашей компании тоже добавляет каплю в океан вниманий прекрасному полу.Осень.Холодеет.Гардероб у девушек меняется...
  </div>

    <table class="catalog">
    <tr>
        <th><img class="table-images" src="{% static 'images/6.jpg' %}"></th><th><img class="table-images" src="{% static 'images/7.jpg' %}"></th><th><img class="table-images" src="{% static 'images/10.jpg' %}"></th>
    </tr>
    <tr>
        <th><img class="table-images"  src="{% static 'images/8.jpg' %}"></th><th><img class="table-images"  src="{% static 'images/9.jpg' %}"></th><th><img class="table-images" src="{% static 'images/clo1.jpg' %}"></th>
    </tr>
    </table >



 {% endblock %}

