<!DOCTYPE html>
<html>
  <head>
    <title>Регистрация</title>
  </head>
  <body>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
  </body>
</html>