<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div>
    <form action="" method="post">
         {% csrf_token %}
         {{ forms.as_p}}
         <button type="submit">Register</button>
    </form>
</div>
</body>
</html>